#container {
  display: grid;
  grid-template-areas: "nav nav nav"
                       "picture description cart"
                       "similar similar similar"
                       "review review review";
  grid-template-rows: 100px minMax(200px, 500px) auto 1fr;
  grid-template-columns: minMax(600px, 1000px) auto 280px;
  
}
#nav {
  grid-area: nav;
  width: 100%;
  background-color: #232f3f;
  margin-bottom: 10px;
}

#lines {
  width: 30px;
  height: 30px;
  color: black;
}

.grip-lines {
  float: left;
  margin-left: 20px;
  border: 1px solid;
  border-color: black;
}

.nav-fill {
  width: 50%;
  height: 44px;
  margin: 25px auto;
  border-radius: 5px;
}

#search-box {
  display: inline-block;
  width: 80%;
  height: 35px;
  margin: 1px;
  outline-color: orange;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  vertical-align: middle;
  align-content: center;
}

.nav-input {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 8px;
}

#picture {
  grid-area: picture;
  margin: 5px;
}

#similar {
  grid-area: similar;
}

#desc {
  grid-area: description;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px
}

#cart {
  grid-area: cart;
  justify-items: right;
  margin-top: 5px;
  /* border: .5px solid grey; */
  margin-left: auto;
  margin-right: auto;
}

#reviews {
  grid-area: review;
  margin-top: 10px;
}

